body {
  margin: 0;
  padding: 0;
  background: #333;
  overflow: hidden;
}

.root {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.app {
  width: 100%;
  position: relative;
}

.ratio {
  padding-bottom: 75%;
}

.canvas-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  display: flex;
}

canvas {
  margin: 1em;
  width: 100%;
  border: 1px solid white;
}
